@model auction.Models.ViewModels.WalletViewModel
@{
    ViewData["Title"] = "User Profile Management Wallet";
    var walletValue = Model.WalletTotalValue - Model.OnHold;
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            @Html.Partial("_UserNav")
        </div>
        <div class="col-md-8 border-left">
            <h2>Wallet</h2>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h4>Wallet Value</h4>
                            <p class="lead"><strong>@walletValue</strong></p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h4>OnHold Value</h4>
                            <p class="lead"><strong>@Model.OnHold</strong></p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h4>Total Wallet Value</h4>
                            <p class="lead"><strong>@Model.WalletTotalValue</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Products On Sale</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Days Remaining</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var product in Model.ProductsOnSale)
                {
                    var daysRemaining = (product.Date - DateTime.Now).Days; // Calculate days remaining
                    <tr>
                        <td><a href="@Url.Action("Products", "User", new { id = product.Id })">@product.Name</a></td>
                        <td>@product.Price</td>
                        <td>@daysRemaining</td>
                        <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteProduct" asp-route-Id="@product.Id">Delete</a></td>
                    </tr>
                }
                </tbody>
            </table>
            <h3>Products Sold</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Date Sold</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var product in Model.ProductsSold)
                {
                    <tr>
                        <td><a href="@Url.Action("Products", "User", new { id = product.Id })">@product.Name</a></td>
                        <td>@product.Price</td>
                        <td>@product.Date.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
                </tbody>
            </table>

            <h3>Products Bought</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Date Bought</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var product in Model.ProductsBought)
                {
                    <tr>
                        <td><a href="@Url.Action("Products", "User", new { id = product.Id })">@product.Name</a></td>
                        <td>@product.Price</td>
                        <td>@product.Date.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>