@model auction.Models.ViewModels.AuctionIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Auctions</h2>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Product</th>
                        <th>Seller</th>
                        <th>Top Bid</th>
                        <th>Time Remaining</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model?.Auctions != null)
                    {
                        @foreach (var auction in Model.Auctions )
                        {
                            <tr>
                                <td class="image-container-home">
                                    <img class="loading-image" src="@Url.Action("GetImage", "ObjectStorage", new { imageName = auction.ProductPhoto })" alt="Product Image" width="150" height="150" onload="hideSpinner(this)"/>
                                    <div class="spinner-border text-primary image-spinner loader" role="status">
                                    </div>
                                </td>
                                <td>
                                    <a asp-action="ProductDetails" asp-route-Id="@auction.ProductId">@auction.ProductName</a>
                                </td>
                                <td>
                                    @auction.SellerName
                                    @if (auction.IsCurrentUserProductOwner)
                                    {
                                        <span>(You)</span>
                                    }
                                </td>
                                <td>@auction?.TopBid</td>
                                <td>@auction.TimeRemaining Days</td>
                                <td>
                                    @if (auction.IsCurrentUserProductOwner)
                                    {
                                        <a class="btn btn-danger" asp-action="DeleteProduct" asp-route-Id="@auction.ProductId">Delete</a>
                                    }
                                    else
                                    {
                                        <span></span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table> 
            </div>
    </div>
        <div class="col-lg-6 text-left">
            <a href="@Url.Action("NewAuction", "Home")" class="btn btn-primary">New Auction</a> 
        </div>
        
        <div class="col-lg-6 text-right">
            <h4>Wallet Value: @Model?.WalletValue $</h4>
        </div>
    </div>
    @section Scripts
    {
        <script src="/js/imgSpinner.js" asp-append-version="true"></script>
        <script src="/js/signalConn.js" asp-append-version="true"></script>
    }
