@model auction.Models.ViewModels.ProductDetailsViewModel
@{
    ViewData["Title"] = "Product Details";
    decimal minBid = Model?.HighestBid != 0 ? Model.HighestBid + 1 : Model.StartingPrice + 1;
    bool canBid = minBid <= Model.UserBalance;
}
<div class="container" onload="load()">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb-0">@Model?.ProductName</h3>
                </div>
                <div class="col-md-6">
                    <p class="mb-0">Created by: @Model?.ProductOwner</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <p>Time Remaining: @if(!String.IsNullOrEmpty(@Model.DaysRemaining) && @Model.DaysRemaining.Contains("-"))
                               {
                                   @:Auction ended
                               }
                               else
                               {
                                   @Model?.DaysRemaining @: days
                               }
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <p>Starting Bid: $@Model?.StartingPrice</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 offset-md-3">
            <p>@Model?.Description</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">Current Highest Bid:</p>
                </div>
                <div class="col-md-6">
                    <p class="mb-0">Bidder: @Model?.BidderName</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 offset-md-3">
            <p>$ @Model?.HighestBid</p>
        </div>
    </div>
    @if (!Model.IsCurrentUserProductOwner && !Model.IsCurrentUserHighestBidder)
    {
        <div class="col-md-4 offset-md-4">
            <form asp-action="NewBid" method="post" class="mx-auto">
                <input asp-for="Bid.ProductId" class="form-control" hidden value="@Model.ProductId"/>
                <input asp-for="Bid.UserId" class="form-control" hidden value="@Model.UserId"/>
                <div class="form-group">
                    @if(canBid)
                    {
                        <input asp-for="Bid.BidAmount" placeholder="Your bid goes here." class="form-control" type="number" step="0.01" min="@minBid"/>
                    }
                    else{
                        <input asp-for="Bid.BidAmount" placeholder="Your bid goes here." class="form-control" type="number" step="0.01" min="@minBid" disabled/>
                    }
                    <span asp-validation-for="Bid.BidAmount" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    @if(canBid){
                        <button type="submit" class="btn btn-primary">Bid</button>
                    }
                    else{
                        <button type="submit" class="btn btn-primary" disabled>Bid</button>
                    }
                </div>
            </form>
        </div>
    }
    @if (!String.IsNullOrEmpty(@Model.ImageName))
    {
        <div class="row">
            <div class="col-md-12 offset-md-3 image-container-details">
                <img src="@Url.Action("GetImage", "Home", new { imageName = @Model.ImageName })" width="300" height="300" onload="hideSpinner(this)">
                <div class="spinner-border text-primary image-spinner" role="status"></div>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="/js/imgSpinner.js" asp-append-version="true"></script>
}
@section Styles
{
    <link rel="stylesheet" href="/css/imgSpinner.css" asp-append-version="true"/>
}